* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #2d2d2d;
  background-color: #f7f1d6;
  padding-top: 80px;
  padding-bottom: 80px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
