.footer__navbar {
  background-color: var(--primary);
  color: var(--secondary);
  border: var(--primary);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

.footer__navbar--list {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  border-top: solid 2px var(--primary);
}

.footer__navbar--link {
  width: 48px;
  height: 48px;
}

.footer__navbar--link svg {
  width: 48px;
  height: 48px;
  stroke: var(--secondary);
}

.footer__navbar--highlighted {
  background-color: var(--secondary);
}

.footer__navbar--highlighted svg {
  stroke: var(--primary);
  fill: none;
}

.footer__list-item {
  width: 33.3%;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px;
}
